<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="../../style.css">
    <title>Contacto</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <img src="../images/logMul.ico" alt="" class=" navbar-brandrounded float-left img-fluid" width="70">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
                <span><img src="https://img.icons8.com/material-sharp/24/000000/menu--v5.png" /></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav  ul-list">
                   <li class="nav-item active">
                        <a style="text-decoration: underline; color: rgb(14, 14, 14);" class="nav-link "
                            aria-current="page" href="">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/nosotros">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/maquillaje" tabindex="-1"
                            aria-disabled="true">Maquillaje</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/skincare" tabindex="-1"
                            aria-disabled="true">SkinCare</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manicura" tabindex="-1"
                            aria-disabled="true">Manicura</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" tabindex="-1"
                            aria-disabled="true">Contacto</a>
                    </li>
                    <li>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home" tabindex="-1"
                            aria-disabled="true">Iniciar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid content-box">
        <div class="row">
            <div class="col ">
                <ul class="breadcrumb" style="background-color: rgba(176, 94, 167, 0);">
                    <li class="breadcrumb-item"><a href="/index.html">
                        <FONT COLOR="white">Inicio</FONT>
                    <li class="breadcrumb-item"><a href="/assets/pages/contacto.html">
                        <FONT COLOR="white">Contactanos</FONT>
                      </a></li>
                    </a></li>
                  </ul>
                <h2 class="title-cart">Contactanos</h2>
            </div>
        </div>

    </div>
    <br><br>
    </div>
    <div>
        <div class="container content-preview-products" style="width: 550px; height: 400px;">
            <div class="row">
                <div class="col">

                </div>
            </div>
            <p>
                <label for="email" class="colocar_email">Email
                    <span class="obligatorio">*</span>
                </label>
                <input type="email" name="introducir_email" id="email" required="obligatorio"
                    placeholder="Escribe tu Email">
            </p>

            <p>
                <label for="telefone" class="colocar_telefono">Teléfono
                </label>
                <input type="tel" name="introducir_telefono" id="telefono" placeholder="Escribe tu teléfono">
            </p>

            <p>
                <label for="asunto" class="colocar_asunto">Asunto
                    <span class="obligatorio">*</span>
                </label>
                <input type="text" name="introducir_asunto" id="assunto" required="obligatorio"
                    placeholder="Escribe un asunto">
            </p>

            <p>
                <label for="mensaje" class="colocar_mensaje">Mensaje
                    <span class="obligatorio">*</span>
                </label>
                <textarea name="introducir_mensaje" class="texto_mensaje" id="mensaje" required="obligatorio"
                    placeholder="Deja aquí tu comentario..."></textarea>
            </p>
            <div align="center">
                 <button type="submit" name="enviar_formulario" id="enviar">     
                      <h6 style="width: 100px;left: 5100px;">Enviar</h6>
            </button>
            </div>
           
            <p class="aviso">
                <span class="obligatorio"> * </span>Todos los campos son obligatorios.
            </p>

            </form>
        </div>
    </div>
    </div>
    </div>
    </div>
    <footer>
        <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 600" xmlns="http://www.w3.org/2000/svg"
            class="transition duration-300 ease-in-out delay-150">

            <style>
                .path-0 {
                    animation: pathAnim-0 4s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }

                @keyframes pathAnim-0 {
                    0% {
                        d: path("M 0,600 C 0,600 0,200 0,200 C 110.85167464114835,226 221.7033492822967,252 310,246 C 398.2966507177033,240 464.0382775119616,201.99999999999997 545,191 C 625.9617224880384,180.00000000000003 722.1435406698564,196 841,215 C 959.8564593301436,234 1101.3875598086124,256 1205,254 C 1308.6124401913876,251.99999999999997 1374.3062200956938,226 1440,200 C 1440,200 1440,600 1440,600 Z");
                    }

                    25% {
                        d: path("M 0,600 C 0,600 0,200 0,200 C 68.95693779904306,194.6602870813397 137.91387559808612,189.3205741626794 253,200 C 368.0861244019139,210.6794258373206 529.3014354066986,237.377990430622 623,227 C 716.6985645933014,216.622009569378 742.8803827751195,169.1674641148325 821,161 C 899.1196172248805,152.8325358851675 1029.177033492823,183.95215311004787 1141,197 C 1252.822966507177,210.04784688995213 1346.4114832535884,205.02392344497605 1440,200 C 1440,200 1440,600 1440,600 Z");
                    }

                    50% {
                        d: path("M 0,600 C 0,600 0,200 0,200 C 105.63636363636365,234.3062200956938 211.2727272727273,268.6124401913876 315,269 C 418.7272727272727,269.3875598086124 520.5454545454545,235.85645933014354 596,218 C 671.4545454545455,200.14354066985646 720.5454545454546,197.9617224880383 823,211 C 925.4545454545454,224.0382775119617 1081.2727272727273,252.29665071770336 1193,253 C 1304.7272727272727,253.70334928229664 1372.3636363636365,226.85167464114832 1440,200 C 1440,200 1440,600 1440,600 Z");
                    }

                    75% {
                        d: path("M 0,600 C 0,600 0,200 0,200 C 101.77990430622009,210.47846889952154 203.55980861244018,220.95693779904306 309,228 C 414.4401913875598,235.04306220095694 523.5406698564594,238.65071770334927 608,221 C 692.4593301435406,203.34928229665073 752.2775119617224,164.4401913875598 834,151 C 915.7224880382776,137.5598086124402 1019.3492822966507,149.58851674641147 1124,162 C 1228.6507177033493,174.41148325358853 1334.3253588516745,187.20574162679426 1440,200 C 1440,200 1440,600 1440,600 Z");
                    }

                    100% {
                        d: path("M 0,600 C 0,600 0,200 0,200 C 110.85167464114835,226 221.7033492822967,252 310,246 C 398.2966507177033,240 464.0382775119616,201.99999999999997 545,191 C 625.9617224880384,180.00000000000003 722.1435406698564,196 841,215 C 959.8564593301436,234 1101.3875598086124,256 1205,254 C 1308.6124401913876,251.99999999999997 1374.3062200956938,226 1440,200 C 1440,200 1440,600 1440,600 Z");
                    }
                }
            </style>
            <path
                d="M 0,600 C 0,600 0,200 0,200 C 110.85167464114835,226 221.7033492822967,252 310,246 C 398.2966507177033,240 464.0382775119616,201.99999999999997 545,191 C 625.9617224880384,180.00000000000003 722.1435406698564,196 841,215 C 959.8564593301436,234 1101.3875598086124,256 1205,254 C 1308.6124401913876,251.99999999999997 1374.3062200956938,226 1440,200 C 1440,200 1440,600 1440,600 Z"
                stroke="none" stroke-width="0" fill="#f78da788"
                class="transition-all duration-300 ease-in-out delay-150 path-0">
            </path>
            <style>
                .path-1 {
                    animation: pathAnim-1 4s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }

                @keyframes pathAnim-1 {
                    0% {
                        d: path("M 0,600 C 0,600 0,400 0,400 C 106.62200956937798,400.9952153110048 213.24401913875596,401.99043062200957 324,406 C 434.75598086124404,410.00956937799043 549.6459330143541,417.0334928229665 624,417 C 698.3540669856459,416.9665071770335 732.1722488038276,409.8755980861244 810,387 C 887.8277511961724,364.1244019138756 1009.6650717703349,325.46411483253587 1122,325 C 1234.3349282296651,324.53588516746413 1337.1674641148325,362.26794258373207 1440,400 C 1440,400 1440,600 1440,600 Z");
                    }

                    25% {
                        d: path("M 0,600 C 0,600 0,400 0,400 C 71.91387559808612,358.96650717703346 143.82775119617224,317.933014354067 247,326 C 350.17224880382776,334.066985645933 484.6028708133972,391.2344497607655 584,425 C 683.3971291866028,458.7655502392345 747.7607655502393,469.12918660287085 837,456 C 926.2392344497607,442.87081339712915 1040.3540669856459,406.2488038277512 1145,393 C 1249.6459330143541,379.7511961722488 1344.8229665071772,389.8755980861244 1440,400 C 1440,400 1440,600 1440,600 Z");
                    }

                    50% {
                        d: path("M 0,600 C 0,600 0,400 0,400 C 91.97129186602868,389.0622009569378 183.94258373205736,378.1244019138756 296,376 C 408.05741626794264,373.8755980861244 540.2009569377991,380.5645933014354 626,396 C 711.7990430622009,411.4354066985646 751.2535885167465,435.6172248803828 826,441 C 900.7464114832535,446.3827751196172 1010.7846889952154,432.96650717703346 1119,423 C 1227.2153110047846,413.03349282296654 1333.6076555023924,406.51674641148327 1440,400 C 1440,400 1440,600 1440,600 Z");
                    }

                    75% {
                        d: path("M 0,600 C 0,600 0,400 0,400 C 126.65071770334927,375.23444976076553 253.30143540669854,350.46889952153106 340,370 C 426.69856459330146,389.53110047846894 473.4449760765551,453.3588516746412 567,445 C 660.5550239234449,436.6411483253588 800.9186602870813,356.09569377990425 904,349 C 1007.0813397129187,341.90430622009575 1072.8803827751196,408.25837320574163 1156,429 C 1239.1196172248804,449.74162679425837 1339.55980861244,424.87081339712915 1440,400 C 1440,400 1440,600 1440,600 Z");
                    }

                    100% {
                        d: path("M 0,600 C 0,600 0,400 0,400 C 106.62200956937798,400.9952153110048 213.24401913875596,401.99043062200957 324,406 C 434.75598086124404,410.00956937799043 549.6459330143541,417.0334928229665 624,417 C 698.3540669856459,416.9665071770335 732.1722488038276,409.8755980861244 810,387 C 887.8277511961724,364.1244019138756 1009.6650717703349,325.46411483253587 1122,325 C 1234.3349282296651,324.53588516746413 1337.1674641148325,362.26794258373207 1440,400 C 1440,400 1440,600 1440,600 Z");
                    }
                }
            </style>
            <path
                d="M 0,600 C 0,600 0,400 0,400 C 106.62200956937798,400.9952153110048 213.24401913875596,401.99043062200957 324,406 C 434.75598086124404,410.00956937799043 549.6459330143541,417.0334928229665 624,417 C 698.3540669856459,416.9665071770335 732.1722488038276,409.8755980861244 810,387 C 887.8277511961724,364.1244019138756 1009.6650717703349,325.46411483253587 1122,325 C 1234.3349282296651,324.53588516746413 1337.1674641148325,362.26794258373207 1440,400 C 1440,400 1440,600 1440,600 Z"
                stroke="none" stroke-width="0" fill="#f78da7ff"
                class="transition-all duration-300 ease-in-out delay-150 path-1">

            </path>

        </svg>
        <!-- footer -->
    </footer>

    <!-- Código de instalación Cliengo para www.mulberry.com.mx -->
    <script type="text/javascript">(function () { var ldk = document.createElement('script'); ldk.type = 'text/javascript'; ldk.async = true; ldk.src = 'https://s.cliengo.com/weboptimizer/6196b92ad47595002ae1dc4e/619c2905f96986002a04729a.js?platform=view_installation_code'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ldk, s); })();</script>
    <!-- Optional JavaScript; choose one of the two! -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>

</body>