{{> navbarHombre}}
<!doctype html>
<html lang="en">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS -->
  <link rel="stylesheet" href="../../style.css">

  <style>
    body {
      background-image: linear-gradient(-200deg, rgba(0, 105, 123, 0.539) 60%, rgba(115, 4, 30, 0.641) 60%); 
    }
</style>
</head>

<body>
  <div class="container-fluid content-box">
    <div class="row">
      <div class="col ">
        <ul class="breadcrumb" style="background-color: rgba(176, 94, 167, 0);">
          <li class="breadcrumb-item"><a href="/welcomeh">
              <FONT COLOR="white">Home</FONT>
          </li>
          <li class="breadcrumb-item"><a href="/comp">
              <FONT COLOR="white">Carrito de compras</FONT>
            </a></li>
          </a></li>
        </ul>
        <h2 class="title-cart">Carrito de compras </h2>
      </div>
    </div>

  </div>
  <br><br>
  </div>
  <div class="container content-preview-products" style="height: 580px;">
    <div class="row">
      <div class="col">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Productos</th>
              <th scope="col">Precio</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Total</th>
              <th style="width: auto;" scope="col">Opciones</th>
          </thead>

          <tbody style="border-color: var(--color-BreakerBay);">
            <tr>
              <th scope="col"><img src="../images/ani1.jpg" width="100" height="100"></th>
              <th scope="col">$54.00</th>
              <th scope="col">2</th>
              <th scope="col">$108.00</th>
              <th style="width: auto;" scope="col">
                <!-- <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">Comprar</button> -->
                &nbsp; &nbsp;
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelar"> <svg
                    xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-trash"
                    viewBox="0 0 16 16">
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                  </svg></button>
              </th>
            </tr>

            <tr>
              <th scope="col"><img src="../images/collar1.jpg" width="100" height="100"></th>
              <th scope="col">$80.00</th>
              <th scope="col">3</th>
              <th scope="col">$240.00</th>
              <th style="width: auto;" scope="col">
                <!--   <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">Comprar</button> -->
                &nbsp; &nbsp;
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelar">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-trash"
                    viewBox="0 0 16 16">
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                  </svg>
                </button>
              </th>
            </tr>

            <tr>
              <th scope="col"><img src="../images/collar3.jpg" width="100" height="100"></th>
              <th scope="col">$30.00</th>
              <th scope="col">1</th>
              <th scope="col">$30.00</th>
              <th style=" width: auto;" scope="col">
                <!--     <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">Comprar</button> -->
                &nbsp; &nbsp;
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelar">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-trash"
                    viewBox="0 0 16 16">
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                  </svg></button>
              </th>
            </tr>

            <tr>
              <th scope="col"><img src="../images/col4.jpg" width="100" height="100" /></th>
              <th scope="col">$45.00</th>
              <th scope="col">1</th>
              <th scope="col">$45.00</th>
              <th style="width: 8%;" scope="col">
                <!--      <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">Comprar</button> -->
                &nbsp; &nbsp;
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelar"> <svg
                    xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-trash"
                    viewBox="0 0 16 16">
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                  </svg></button>
              </th>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br><br><br>
  </div>
  <!-- Modal 1 -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h3>Su compra se realizó con éxito </h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- Modal 2 -->
  <div class="modal fade" id="cancelar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="cancelar" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h3> ¿ Está seguro que desea cancelar su compra ?
          </h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-md" data-bs-dismiss="modal">Regresar</button>
          <button type="button" class="btn btn-danger btn-md">Eliminar.</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- Código de instalación Cliengo para www.mulberry.com.mx -->
   <script
        type="text/javascript">(function () { var ldk = document.createElement('script'); ldk.type = 'text/javascript'; ldk.async = true; ldk.src = 'https://s.cliengo.com/weboptimizer/62e8b9644da698002ae418b9/62e8b9664da698002ae418bc.js?platform=view_installation_code'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ldk, s); })();</script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
  </div><br><br>
  <div class="d-flex justify-content-end">
  </div>
  </div><br><br>
  </div>
  <!-- Optional JavaScript; choose one of the two! -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

</body>

</html>