{{> navbarMujer}}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- CSS -->
  <link rel="stylesheet" href="../../style.css">

  <!-- JS -->
  <script src="../../main.js"></script>
</head>

<body>
  <div class="container-fluid content-box">
    <div class="row">
      <div class="col col-home-introduction">
        <ul class="breadcrumb" style="background-color: rgba(176, 94, 167, 0);">
          <li class="breadcrumb-item"><a href="/welcome">
              <FONT COLOR="white">Inicio</FONT>
          <li class="breadcrumb-item"><a href="/sombras">
              <FONT COLOR="white">Sombras</FONT>
            </a></li>
          </a></li>
        </ul>
        <h2>"Mántente siempre al margen"</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div id="esp">
      <h2 style="margin-top: 65px; margin-bottom: 32px;">Paletas de sombras</h2>

      <div class="row row-cols-3 g-5">
        <div class="col">
          <div class="card shadow-sm">
            <img src="../images/p1.webp">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button style="background-color: #3483fa; color: white;" type="button"
                    class="btn btn-md btn-outline-success"><svg xmlns="http://www.w3.org/2000/svg" width="30"
                      height="30" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                      <path
                        d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
                    </svg></button>
                </div>
                <medium class="text-muted"> Paleta Beauty Creations -$400.00</medium>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="../images/p4.webp">

            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                  <button disabled style="background-color: #fafafa00; color: gray;" type="button"
                    class="btn btn-md btn-outline-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                      class="bi bi-cart-dash" viewBox="0 0 16 16">
                      <path d="M6.5 7a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4z" />
                      <path
                        d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                    </svg>
                  </button>
                </div>
                <medium class="text-muted"> Paleta Hudabeauty-$80.00</medium>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="../images/P3.jpg">

            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button style="background-color: #3483fa; color: white;" type="button"
                    class="btn btn-md btn-outline-success"><svg xmlns="http://www.w3.org/2000/svg" width="30"
                      height="30" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                      <path
                        d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
                    </svg></button>
                </div>
                <medium class="text-muted"> Paleta NUDE - $180.00</medium>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr style="margin-top: 40px;" class="bg-danger border-2 border-top border-secondary">
      <h2 style="margin-top: 65px; margin-bottom: 32px;">Brochas</h2>
      <div class="row row-cols-3 g-5">
        <div class="col">
          <div class="card shadow-sm">
            <img src="../images/B04.jpeg">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button style="background-color: #3483fa; color: white;" type="button" class="btn btn-md"><svg
                      xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                      class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                      <path
                        d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
                    </svg></button>
                </div>
                <medium class="text-muted">SET de 8 brochas - $450.00</medium>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../images/brocha.jpg">

            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button style="background-color: #3483fa; color: white;" type="button"
                    class="btn btn-md btn-outline-success"><svg xmlns="http://www.w3.org/2000/svg" width="30"
                      height="30" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                      <path
                        d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
                    </svg></button>
                </div>
                <medium class="text-muted">kit de brochas - $300.00</medium>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../images/B01.jpg">

            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button style="background-color: #3483fa; color: white;" type="button"
                    class="btn btn-md btn-outline-success"><svg xmlns="http://www.w3.org/2000/svg" width="30"
                      height="30" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                      <path
                        d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
                    </svg></button>
                </div>
                <medium class="text-muted">SET de 25 brochas - $400.00</medium>
              </div>
            </div>
          </div>
        </div>

      </div>

      <hr style="margin-top: 40px;" class="bg-danger border-2 border-top border-secondary">
      <h2 style="margin-top: 65px; margin-bottom: 32px;">Contornos</h2>

      <div class="row row-cols-3 g-5">
        <div class="col">
          <div class="card shadow-sm">
            <img src="../images/100.webp">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button style="background-color: #3483fa; color: white;" type="button"
                    class="btn btn-md btn-outline-success"><svg xmlns="http://www.w3.org/2000/svg" width="30"
                      height="30" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                      <path
                        d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
                    </svg></button>
                </div>
                <medium class="text-muted">Contorno Maybellin - $220.00</medium>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../images/c02.jpg">

            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button style="background-color: #3483fa; color: white;" type="button"
                    class="btn btn-md btn-outline-success"><svg xmlns="http://www.w3.org/2000/svg" width="30"
                      height="30" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                      <path
                        d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
                    </svg></button>
                </div>
                <medium class="text-muted">Contorno e.l.f - $100.00</medium>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../images/c04.jpg">

            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button style="background-color: #3483fa; color: white;" type="button"
                    class="btn btn-md btn-outline-success"><svg xmlns="http://www.w3.org/2000/svg" width="30"
                      height="30" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                      <path
                        d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
                    </svg></button>
                </div>
                <medium class="text-muted">Paleta de contornos - $350.00</medium>
              </div>
            </div>
          </div>
        </div>

      </div><br><br>
      <div class="d-flex justify-content-end">
        <div class="text-center" style="position: fixed; bottom: 30px; right: 90px;">
          <a class="btn btn-success btn-lg btn-home-more " href="/compra" role="button" title="Ir al carrito">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart4"
              viewBox="0 0 16 16">
              <path
                d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
            </svg></a>
        </div>
      </div>
    </div><br><br>
  </div>
  <!-- Código de instalación Cliengo para www.mulberry.com.mx -->
   <script
        type="text/javascript">(function () { var ldk = document.createElement('script'); ldk.type = 'text/javascript'; ldk.async = true; ldk.src = 'https://s.cliengo.com/weboptimizer/62e8b9644da698002ae418b9/62e8b9664da698002ae418bc.js?platform=view_installation_code'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ldk, s); })();</script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
  <!-- Optional JavaScript; choose one of the two! -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>

</body>
<footer>
  <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 600" xmlns="http://www.w3.org/2000/svg"
    class="transition duration-300 ease-in-out delay-150">
    <style>
      .path-0 {
        animation: pathAnim-0 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }

      @keyframes pathAnim-0 {
        0% {
          d: path("M 0,600 C 0,600 0,200 0,200 C 110.85167464114835,226 221.7033492822967,252 310,246 C 398.2966507177033,240 464.0382775119616,201.99999999999997 545,191 C 625.9617224880384,180.00000000000003 722.1435406698564,196 841,215 C 959.8564593301436,234 1101.3875598086124,256 1205,254 C 1308.6124401913876,251.99999999999997 1374.3062200956938,226 1440,200 C 1440,200 1440,600 1440,600 Z");
        }

        25% {
          d: path("M 0,600 C 0,600 0,200 0,200 C 68.95693779904306,194.6602870813397 137.91387559808612,189.3205741626794 253,200 C 368.0861244019139,210.6794258373206 529.3014354066986,237.377990430622 623,227 C 716.6985645933014,216.622009569378 742.8803827751195,169.1674641148325 821,161 C 899.1196172248805,152.8325358851675 1029.177033492823,183.95215311004787 1141,197 C 1252.822966507177,210.04784688995213 1346.4114832535884,205.02392344497605 1440,200 C 1440,200 1440,600 1440,600 Z");
        }

        50% {
          d: path("M 0,600 C 0,600 0,200 0,200 C 105.63636363636365,234.3062200956938 211.2727272727273,268.6124401913876 315,269 C 418.7272727272727,269.3875598086124 520.5454545454545,235.85645933014354 596,218 C 671.4545454545455,200.14354066985646 720.5454545454546,197.9617224880383 823,211 C 925.4545454545454,224.0382775119617 1081.2727272727273,252.29665071770336 1193,253 C 1304.7272727272727,253.70334928229664 1372.3636363636365,226.85167464114832 1440,200 C 1440,200 1440,600 1440,600 Z");
        }

        75% {
          d: path("M 0,600 C 0,600 0,200 0,200 C 101.77990430622009,210.47846889952154 203.55980861244018,220.95693779904306 309,228 C 414.4401913875598,235.04306220095694 523.5406698564594,238.65071770334927 608,221 C 692.4593301435406,203.34928229665073 752.2775119617224,164.4401913875598 834,151 C 915.7224880382776,137.5598086124402 1019.3492822966507,149.58851674641147 1124,162 C 1228.6507177033493,174.41148325358853 1334.3253588516745,187.20574162679426 1440,200 C 1440,200 1440,600 1440,600 Z");
        }

        100% {
          d: path("M 0,600 C 0,600 0,200 0,200 C 110.85167464114835,226 221.7033492822967,252 310,246 C 398.2966507177033,240 464.0382775119616,201.99999999999997 545,191 C 625.9617224880384,180.00000000000003 722.1435406698564,196 841,215 C 959.8564593301436,234 1101.3875598086124,256 1205,254 C 1308.6124401913876,251.99999999999997 1374.3062200956938,226 1440,200 C 1440,200 1440,600 1440,600 Z");
        }
      }
    </style>
    <path
      d="M 0,600 C 0,600 0,200 0,200 C 110.85167464114835,226 221.7033492822967,252 310,246 C 398.2966507177033,240 464.0382775119616,201.99999999999997 545,191 C 625.9617224880384,180.00000000000003 722.1435406698564,196 841,215 C 959.8564593301436,234 1101.3875598086124,256 1205,254 C 1308.6124401913876,251.99999999999997 1374.3062200956938,226 1440,200 C 1440,200 1440,600 1440,600 Z"
      stroke="none" stroke-width="0" fill="#f78da788" class="transition-all duration-300 ease-in-out delay-150 path-0">
    </path>
    <style>
      .path-1 {
        animation: pathAnim-1 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }

      @keyframes pathAnim-1 {
        0% {
          d: path("M 0,600 C 0,600 0,400 0,400 C 106.62200956937798,400.9952153110048 213.24401913875596,401.99043062200957 324,406 C 434.75598086124404,410.00956937799043 549.6459330143541,417.0334928229665 624,417 C 698.3540669856459,416.9665071770335 732.1722488038276,409.8755980861244 810,387 C 887.8277511961724,364.1244019138756 1009.6650717703349,325.46411483253587 1122,325 C 1234.3349282296651,324.53588516746413 1337.1674641148325,362.26794258373207 1440,400 C 1440,400 1440,600 1440,600 Z");
        }

        25% {
          d: path("M 0,600 C 0,600 0,400 0,400 C 71.91387559808612,358.96650717703346 143.82775119617224,317.933014354067 247,326 C 350.17224880382776,334.066985645933 484.6028708133972,391.2344497607655 584,425 C 683.3971291866028,458.7655502392345 747.7607655502393,469.12918660287085 837,456 C 926.2392344497607,442.87081339712915 1040.3540669856459,406.2488038277512 1145,393 C 1249.6459330143541,379.7511961722488 1344.8229665071772,389.8755980861244 1440,400 C 1440,400 1440,600 1440,600 Z");
        }

        50% {
          d: path("M 0,600 C 0,600 0,400 0,400 C 91.97129186602868,389.0622009569378 183.94258373205736,378.1244019138756 296,376 C 408.05741626794264,373.8755980861244 540.2009569377991,380.5645933014354 626,396 C 711.7990430622009,411.4354066985646 751.2535885167465,435.6172248803828 826,441 C 900.7464114832535,446.3827751196172 1010.7846889952154,432.96650717703346 1119,423 C 1227.2153110047846,413.03349282296654 1333.6076555023924,406.51674641148327 1440,400 C 1440,400 1440,600 1440,600 Z");
        }

        75% {
          d: path("M 0,600 C 0,600 0,400 0,400 C 126.65071770334927,375.23444976076553 253.30143540669854,350.46889952153106 340,370 C 426.69856459330146,389.53110047846894 473.4449760765551,453.3588516746412 567,445 C 660.5550239234449,436.6411483253588 800.9186602870813,356.09569377990425 904,349 C 1007.0813397129187,341.90430622009575 1072.8803827751196,408.25837320574163 1156,429 C 1239.1196172248804,449.74162679425837 1339.55980861244,424.87081339712915 1440,400 C 1440,400 1440,600 1440,600 Z");
        }

        100% {
          d: path("M 0,600 C 0,600 0,400 0,400 C 106.62200956937798,400.9952153110048 213.24401913875596,401.99043062200957 324,406 C 434.75598086124404,410.00956937799043 549.6459330143541,417.0334928229665 624,417 C 698.3540669856459,416.9665071770335 732.1722488038276,409.8755980861244 810,387 C 887.8277511961724,364.1244019138756 1009.6650717703349,325.46411483253587 1122,325 C 1234.3349282296651,324.53588516746413 1337.1674641148325,362.26794258373207 1440,400 C 1440,400 1440,600 1440,600 Z");
        }
      }
    </style>
    <path
      d="M 0,600 C 0,600 0,400 0,400 C 106.62200956937798,400.9952153110048 213.24401913875596,401.99043062200957 324,406 C 434.75598086124404,410.00956937799043 549.6459330143541,417.0334928229665 624,417 C 698.3540669856459,416.9665071770335 732.1722488038276,409.8755980861244 810,387 C 887.8277511961724,364.1244019138756 1009.6650717703349,325.46411483253587 1122,325 C 1234.3349282296651,324.53588516746413 1337.1674641148325,362.26794258373207 1440,400 C 1440,400 1440,600 1440,600 Z"
      stroke="none" stroke-width="0" fill="#f78da7ff" class="transition-all duration-300 ease-in-out delay-150 path-1">
    </path>
  </svg>
</footer>


</html>